<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"><?define JDXEditorUI_TargetDir=$(var.JDXEditorUI.TargetDir)?>
	<Product Id="*" Name="JDXEditor" Language="1033" Version="1.0.0.0" Manufacturer="NK" UpgradeCode="66243614-c88e-4fac-888c-aef741615898">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="JDXEditor" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentGroupRef Id="ProgramFilesFolder_files" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="JDXEditor" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
		</ComponentGroup>
	</Fragment>
	<Fragment>
	  <ComponentGroup Id="ProgramFilesFolder_files" Directory="ProgramFilesFolder">
	    <Component Id="JDXEditorUI.runtimeconfig.json" Guid="bb3aabf5-2b93-4d14-8caa-cd0433b35af5">
	      <File Id="JDXEditorUI.runtimeconfig.json" Name="JDXEditorUI.runtimeconfig.json" Source="$(var.JDXEditorUI_TargetDir)JDXEditorUI.runtimeconfig.json" />
	    </Component>
	    <Component Id="JDXEditorUI.dll" Guid="cca84724-6372-4e33-8dd5-84c15053e72e">
	      <File Id="JDXEditorUI.dll" Name="JDXEditorUI.dll" Source="$(var.JDXEditorUI_TargetDir)JDXEditorUI.dll" />
	    </Component>
	  </ComponentGroup>
	</Fragment>
</Wix>
